*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;    
    background-image: linear-gradient(to top, #fad0c4 0%, #ffd1ff 100%);
}

.menu{
    position: relative;
    width: 200px;
    height: 200px;
    background: #0f0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu li{
 position: absolute;
 list-style: none;   
}